@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CannabisChoice</h1>


    <p>We help medical and recreational cannabis users, to chose the right strain and dosage.</p>
    
    <p>Creating a great, conscient experience</p>

    
    <p>DataBase on Cannabis Strains and information</p>
    <p>Our poupouse is to conect sinthoms and experiences to the correct strains</p>
  


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
